@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #F8F8F8;
    /* height: calc(100% + 28vh + 10vh  + 88vh  + 82vh + 500vh + 80vh + 50vh);
    width: 100%; */
    position: relative;
    padding-top:0.1px;
}


.nav{
    height: 10vh;
    width: 100%;
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    font-size:5vh;
    font-family: 'Francois One', sans-serif;
    letter-spacing: -2px;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav h1:hover ,.nav h2:hover{
    cursor: pointer;
}
.nav h1::before{
    content: "©";
    position: absolute;
    left: 70%;
    font-size: 1vw;
    font-weight: 400;
    top: 15%;
}
.nav h1::after{
    content: "model management";
    position: absolute;
    right: 31%;
    font-size: 0.65vw;
    font-weight: 300;
    letter-spacing: 0.3px;
    bottom:11%;
}
.nav h2{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 600;
    color: rgb(55, 55, 55);
    border-right: 2px solid rgb(0, 0, 0);
} 
.nav h2:nth-last-child(2){
    width: 27%;
    border-right: 2px solid rgb(0, 0, 0);
}
.nav h2:nth-last-child(1){
    width: 10%;
    font-size: 2.3vh;
}
.nav #formobile{
    display: none;
}
.nav #formobile{
    display: none;
}
.center{
    height: 86vh;
    width: 100%;
    position: relative;
    padding: 3vw 6vw 0vw 6vw;
}
.center video{
    height: 100%;
    width: 87vw;
    object-fit: cover;
    object-position: center;
}
#overtext{
    position: absolute;
    height: 50%;
    width: 87vw;
    bottom: 0%;
    padding: 4vw 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
} 
#overtext .toptext{
    width: 100%;
    padding: 0vw 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#overtext .toptext h1{
    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 5.2vw;
    font-weight: 500;
    line-height: 5.5vw;
}
#overtext .toptext h4{
    color: rgb(228, 228, 228);
    font-size: 1.8vw;
    font-weight: 300;
    padding: 0.4vw 1.0vw;
    border-radius: 50%;
    border: 1.5px solid rgb(142, 142, 142) ;
}
#overtext .bottomtext{
    width: 100%;
    padding: 1vw 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(142,142,142);
}
#overtext .bottomtext h4{
    color: white;
    font-size: 2vw;
    font-weight: 300;
} 
#overtext .bottomtext img{
    height: 4vw;
    width: 5vw;  
}
.scrollbar{
    height:26vh;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}
.scrollbar .container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0vw 0vw; 
    padding: 0vw 0vw; 
    animation-name: anime;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.container img{
    height: 85%;
    width: 10.5%;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 50%;
    margin: 1vw 0.9vw;
}
 .container img:nth-child(3){
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
} 
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
} 
.alphabets{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0vh 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.alphabets h5{
    font-size: 1.7vw;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
    padding-right: 1.2vw;
}
.alphabets h6{
    font-size: 0.8vw;
    font-style: italic;
    font-weight: 500;
    padding: 0.7vw 1vw;
    border-radius: 50%;
    margin-right: 0.7vw;
}
h6:hover{
    cursor: pointer;
    border: 1px solid black;
    transition: all ease 0.3s ;
}
.page2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.7vw 6vw 0vw 6vw; 
}
.upperpart{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page2 .upperpart .part1{
    height: 100%;
    width: 55%;
    background-image: url(./page2/imgE.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.page2 .part2{
    height: 100%;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
 .page2 .part2 .image{
    height: 60%;
    width: 100%;
    background-image: url(./page2/imgF.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.page2 .part2 .text{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw  0vw  0vw  0vw;
    overflow-y: hidden;
} 
.text #left-text{
    height: 100%;
    width: 45%;
}
 .text #left-text h3{
    font-size: 2vw;
}
.text  #right-text p{
    font-size: 1.1vw;
} 
.text #right-text{
    height: 100%;
    width: 45%;
}
.bottompart{
    height: 15%;
    width: 100%;
    display: flex;    
    align-items: center;
}
.bottompart h1{
    font-family: 'Francois One', sans-serif;
    font-size: 3.6vw;
    font-weight: 900;
    letter-spacing: -1px;
    word-spacing: -3px;  
}
.page3{
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 6vw 3vw 6vw; 
}
.page3 .left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.page3 .left #top{
    height: 50%;
    width: 100%;
    align-self: center;
    background-image: url(./page3/image2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.page3 .left #top .overarrow{
    position: absolute;
    height: 30%;
    width: 30%;
    background-image: url(right-arrow\ \(black\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 35%;
    left: 35%;
}
.page3 .left #bottom{
    height: 30%;
    width: 100%;
    padding-top: 1vw;
}
.page3 .left #bottom h3{
    font-size: 1.8vw;
    font-weight: 600;
}
.page3 .right{
    height: 100%;
    width: 52%;
    background-image: url(./page3/image1.jpg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.page4{
    height: 100vh;
    width: 100%;
    padding: 1.7vw 6vw 0vw 6vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.page4 #image{
    height: 70%;
    width: 100%;
    background-image: url(./page4/img3.jpg);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
.page4 #belowtext{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom:2vw ;
}
.page4 #belowtext h1{
    font-size: 3.3vw;
    font-weight: 800; 
    font-family: 'Francois One', sans-serif;
}
.page5{
    height: 85vh;
    width: 100%;
    padding: 1.7vw 4vw;
}
.page5 .elem{
    height: 17vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    position: relative;
    overflow: hidden;
} 
.page5 .elem img{
    height: 14vh;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 20%;
    object-fit: cover;
    object-position: 50% 0%;
}
.page5 .elem:nth-last-child(2) img{
    object-position: 50% 50%;
}
.page5 .elem h4{
    font-size: 1.2vw;
}
.page5 .elem .part2{
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.page5 .elem .part2 h1{
    font-size: 3vw;
    font-weight:lighter;
    letter-spacing: 0px;
    word-spacing: -5px;
}
.page5 .elem .part2 h5{
    font-size: 0.9vw;
    color: rgb(50, 50, 50);
}
.page5 .elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.page5 .elem:hover{
    cursor: pointer;
    background-color: #ededed;
}
.page6{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 6vw 1vw 6vw; 
}
.page6 .right{
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.page6 .right h1{
    font-family: 'Francois One', sans-serif;
    font-size: 3vw;
}
.page6 .right h3{
    font-size: 1.4vw;
    width:70%;
}
.page6 .right #images{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.page6 .right #images #leftimage{
    height: 100%;
    width: 52%;
    background-image:url(./page6/image4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page6 .right #images #rightimage{
    height: 100%;
    width: 45%;
    background-image:url(./page6/image3.jpg);
    background-position:50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.page6 .left{
    height: 100%;
    width: 50%;
    background-image: url(./page6/image1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    height: 80vh;
    width: 100%;
    margin: 3vw 0vw 1.5vw 0vw;
    padding: 0vw 4vw 0vw 4vw;
}
.banner video{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 2vw 0vw 2vw 0vw;
}
.page7{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vw 6vw 2vw 6vw;
}
.page7 .left{
    height: 100%;
    width: 50%;
    background-image:url(./page7/image1.jpg);
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}
.page7 .right{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.page7 .right .topimage{
    height: 60%;
    width: 100%;
    background-image:url(./page7/image2.jpg);
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.page7 .right .text{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.page7 .right .text .text-left{
    height: 100%;
    width: 45%;
}
.text-left h2{
    font-size: 1.8vw;
}
.page7 .right .text .text-right{
    height: 100%;
    width: 45%;
}
.text-right p{
    font-size: 1vw;
    font-weight: 600;
}
.marque{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px ));
    }
}
.marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-text-stroke: 1px black;
    color: transparent;
    font-family: 'Francois One', sans-serif;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.page8{
    height: 81vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 3vw 6vw 0vw 6vw;
}
.page8 h1{
    font-size: 3vw;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2px;
}
.page8 .blog1{
    padding-top:1vh;
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.page8 .blog1:hover{
    cursor: pointer;
}
.page8 .blog1 #text{
    height: 40%;
    width: 100%;
}
.page8 .blog1 #text h3 , .blog2 #text h3{
    font-weight: 400;
}
.page8 .blog1 #text span , .blog2 #text span{
    padding: 0.2vw 0.6vw;
    border: 1px solid black;
    border-radius: 50%;
}
.page8 .blog1 #image{
    height: 50%;
    width: 100%;
    background-image: url(./page8/imageb.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.page8 .blog2{
    padding-top: 1vh;
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.page8 .blog2:hover{
    cursor: pointer;
}
.page8 .blog2 #text{
    height: 40%;
    width: 100%;
}
.page8 .blog2 #image{
    height: 50%;
    width: 100%;
    background-image: url(./page8/imagea.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    height: 43vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .part1{
    height: 100%;
    width: 40%;
    border-right: 2px solid black;
    padding: 0vw 6vw 0vw 3vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding-top: 0.5vw;
}
.footer .part1 .brand{
    height: 100%;
    width: 70%;
}
.footer .part1 .brand h1{
    font-size:7vh;
    font-family: 'Francois One', sans-serif;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer .part1 .brand h1::before{
    content: "©";
    position: absolute;
    left: 77%;
    font-size: 1vw;
    font-weight: 400;
    top: 14%;
}
.footer .part1 .brand h1::after{
    content: "model management";
    position: absolute;
    right: 31%;
    font-size: 0.65vw;
    font-weight: 300;
    letter-spacing: 0.3px;
    bottom:1%;
}
.footer .part1 .text{
    height: 100%;
    width: 30%;
    padding-top:1.5vw ;
}
.footer .part1 .text h2{
    font-size: 3.5vh;
    font-weight: 500;
}
.footer .part2{
    height: 100%;
    width: 20%;
    padding-top:2vw ;
    display: flex;
    align-items: start;
    justify-content: center; 
}
.footer .part2 h2{
    font-size: 3vh;
    font-weight: 500;
}
.footer .part3{
    height: 100%;
    width: 40%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer .part3 .top{
    width: 100%;
    padding-top: 2vw;
    padding-left: 3vw;
}
.footer .part3 .top h2{
    font-size: 3vh;
    font-weight: 500;
}
.footer .part3 .bottom{
    height: 75%;
    width: 100%;
    border-top:2px solid black;
}
.part3 .bottom .icon{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
}
.part3 .bottom .icon i{
    font-size: 1.6vw;
    margin: 0vw 2vw 0vw 0vw;
}
.part3 .bottom .icon i:hover{
    cursor: pointer;
}
.part3 .bottom .text{
    height: 75%;
    width: 100%;
    padding-left: 3vw;
    padding-top: 1vw;
}
.part3 .bottom .text h3{
    font-size: 1.1vw;
    font-weight: 500;
}
.footer .part1 .brand h1:hover,.footer .part1 .text h2:hover,.footer .part2 h2:hover,.footer .part3 .top h2:hover,.part3 .bottom .text h3:hover{
    cursor: pointer;
}
  /* Extra Small Devices (phones) */
  @media only screen and (max-width: 575px) {
    .nav{
        margin-top: 5px;
        padding-right: 30px;
        padding-left: 40px;
    }
    .nav h1{
        font-size:4.4vh;
    }
    .nav h1::before{
        display: none;
    }
    .nav h1::after{
        display: none;
    }
    .nav h2{
        display: none;
    } 
    .nav #formobile{
        display: block;
        font-size: 23px;
    }
    .center{
        padding: 3vw 5vw 0vw 6vw;
    }
    #overtext{
        height: 26%;
    }
    #overtext .toptext h1{
        font-size: 8vw;
        line-height: 8.3vw;
    }
    #overtext .toptext h4{
        font-size: 3.4vw;
        padding: 0.5vw 1.2vw;
    }
    #overtext .bottomtext h4{
        font-size: 16px;
    } 
    #overtext .bottomtext img{
        height: 36px;
        width: 50px;  
    }
    .scrollbar{
        height:24vh;
    }
    .scrollbar .container{
        width: 1215px;
        animation-name: anime;
    }
    .container img{
        height: 130px;
        width: 130px;
        margin: 15px 9px;
    }
    .alphabets{
        height: 11vh;
        justify-content: start;
        padding: 0vh 5px;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0 20px 0 20px; 
        border-bottom: none;
        margin-bottom:10px;
    }
    .alphabets h5{
        font-size: 17px;
        padding-right: 15px;
    }
    .alphabets h6{
        font-size: 13px;
        padding: 10px 15px;
    }
    .alphabets::-webkit-scrollbar{
        height: 10px;
    }
    .alphabets::-webkit-scrollbar-track{
        background-color: transparent;
   }
   .alphabets::-webkit-scrollbar-thumb{
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
   }
   .page2{
        padding: 1.7vw 4vw 0vw 4vw; 
    }
    .upperpart{
        height: 89%;
    } 
    .page2 .upperpart .part1{
        width: 42%;
    }
    .page2 .part2{
        width: 55%;
    }
    .page2 .part2 .image{
        height: 55%;
    } 
    .page2 .part2 .text{
        flex-direction: column;
    }
    .text #left-text{
        width: 100%;
        height: 100%;
    }
     .text #left-text h3{
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
    }
    .text  #right-text p{
        font-size:13px;
    } 
    .text #right-text{
        width: 100%;
        padding: 20px 0 0 0;
    }
    .bottompart{
        height: fit-content;
    }
    .bottompart h1{
        font-size: 30px;
    }
    .page3 .left #top .overarrow{
        position: absolute;
        height: 30%;
        width: 30%;
        background-image: url(right-arrow\ \(black\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 35%;
        left: 35%;
    }
    .page3 .left #bottom{
        height: 30%;
        width: 100%;
        padding-top: 1vw;
    }
    .page3 .left #bottom h3{
        font-size: 1.8vw;
        font-weight: 600;
    }
    .page3 .right{
        height: 100%;
        width: 52%;
        background-image: url(./page3/image1.jpg);
        background-position: 50% 40%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page3{
        padding: 0 4.5vw 3vw 4.5vw; 
    }
    .page3 .left{
        justify-content: space-between;
        width: 45%;
    }
    .page3 .left #top{
        width: 120%;
    }
    .page3 .left #top .overarrow{
        height: 25%;
        width: 40%;
        top: 36%;
        left: 30%;
    }
    .page3 .left #bottom{
        height: 50%;
        width: 100%;
        padding-top: 1vw;
    }
    .page3 .left #bottom h3{
        font-size: 13px;
        text-align: center;
        font-weight: 400;
        line-height: 20px;
    }
    .page3 .right{
        background-position: 40% 40%;
    }
    .page4{
        padding-top: 30px;
    }
    .page4 #image{
        height: 80%;
    }
    .page4 #belowtext{
        padding-bottom:20px ;
    }
    .page4 #belowtext h1{
        font-size: 30px;
    }
    .page5{
        padding: 1.7vw 3vw;
    }
    .page5 .elem{
        padding: 0vw 2vw;
    } 
    .page5 .elem img{
        height: 75px;
        width: 75px;
        top: 16%;
        left: 32%;
    }
    .page5 .elem h4{
        font-size: 11px;
    }
    .page5 .elem .part2{
        width: 40%;
    }
    .page5 .elem .part2 h1{
        font-size: 20px;
        line-height: 20px;
    }
    .page5 .elem .part2 h5{
        font-size: 9px;
    }
    .page6{
        padding: 30px 4vw 30px 4vw; 
    }
    .page6 .right h1{
        font-size: 30px;
    }
    .page6 .right h3{
        padding-top: 20px;
        font-size: 16px;
        width:100%;
    }
    .page6 .left{
        background-position: 60% 50%;
    }
    .page6 .right p{
        padding-top: 20px;
        width: 100%;
        height: 40%;
        font-size: 11.5px;
    }
    .banner{
        height: 40vh;
        margin-bottom:40px;
    }
    .banner video{
        height: 40vh;
    }
    .page7{
        padding: 0.7vw 4vw 2vw 4vw;
    }
    .page7 .left{
        height: 70%;
    }
    .page7 .right .topimage{
        height: 40%;
    }
    .page7 .right .text{
        height: 58%;
        flex-direction: column;
    }
    .page7 .right .text .text-left{
        width: 100%;
    }
    .text-left h2{
        font-size: 17.5px;
    }
    .page7 .right .text .text-right{
        width: 100%;
    }
    .text-right p{
        font-size: 12px;
    }
    .marque h1{
        font-size: 30px;
    }
    .page8{
        height: 90vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .page8 h1{
        font-size: 30px;
        margin: 10px 0 10px 0;
    }
    .page8 .blog1 , .page8 .blog2{
        height: 65%;
        width: 100%;
        margin-bottom: 20px;
    }
    .page8 .blog1 #text{
        height: fit-content;
    }
    .page8 .blog1 #text h3 , .blog2 #text h3{
        font-size: 13px;
        padding-top: 10px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .page8 .blog1 #text span , .blog2 #text span{
        padding: 0.2vw 0.9vw;
    }
    .page8 .blog1 #image ,.page8 .blog2 #image{
        height: 100%;
        width: 100%;
    }
    .footer{
        height: 46vh;
        display: flex;
        flex-direction: column;
        border: none;
        margin-top: 50px;
    }
    .footer .part1{
        height: fit-content;
        width: 100%;
        border-right: none;
        padding: 0 6vw 0 6vw;
        flex-direction: column;
        align-items: center;
    }
    .footer .part1 .brand h1{
        font-size:6.4vh;
    }
    .footer .part1 .brand h1::before{
        display: none;
    }
    .footer .part1 .brand h1::after{
        display: none;
    }
    .footer .part1 .text{
        height: fit-content;
        padding-top:20px ;
        text-align: center;
    }
    .footer .part1 .text h2{
        font-size: 16px;
        
        border-bottom: 2px solid black;
    }
    .footer .part2{
        width: 30%;
        height: fit-content;
        padding-top:1vw ;
        border-bottom: 2px solid black;
    }
    .footer .part2 h2{
        font-size: 16px;
    }
    .footer .part3{
        width: 100%;
        border-left: none;
    }
    .footer .part3 .top{
        padding-left:0;
        text-align: center;
    }
    .footer .part3 .top h2{
        font-size: 16px;
    }
    .footer .part3 .bottom{
        width: 80%;
    }
    .part3 .bottom .icon{
        justify-content: center;
    }
    .part3 .bottom .icon i{
        font-size: 23px;
        margin: 20px 2vw 0vw 0vw;
    }
    .part3 .bottom .text{
        width: 100%;
        text-align: center;
        padding:30px 0 0 0 ;
    }
    .part3 .bottom .text h3{
        font-size: 13px;
    }
    .page6 .right #images{
        height: 30%;
        width: 100%;
    }
    
  }
  
  /* Small Devices (portrait tablets and small desktops) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nav{
        padding-right: 40px;
        padding-left: 30px;
    }
    .nav h1{
        font-size:4.4vh;
    }
    .nav h1::before{
        display: none;
    }
    .nav h1::after{
        display: none;
    }
    .nav h2{
        display: none;
    } 
    .nav #formobile{
        display: block;
        font-size: 24px;
    }
    #overtext{
        height: 26%;
    }
    .scrollbar{
        height:24vh;
    }
    .scrollbar .container{
        width: 1374px;
        animation-name: anime;
    }
    .container img{
        height: 150px;
        width: 150px;
        margin: 10px 9px;
    }
    .alphabets h5{
        font-size: 2.2vw;
    }
    .alphabets h6{
        font-size: 1.5vw;
        padding: 0.7vw 0.9vw;
    }
    .page2{
        padding: 1.7vw 5vw 0vw 5vw; 
    }
    .upperpart{
        height: 89%;
    } 
    .page2 .upperpart .part1{
        width: 42%;
    }
    .page2 .part2{
        width: 55%;
    }
     .page2 .part2 .image{
        height: 55%;
    } 
    .text #left-text{
        width: 45%;
    }
     .text #left-text h3{
        font-size: 23px;
        line-height: 28px;
        font-weight: 500;
    }
    .text  #right-text p{
        font-size:13px;
    } 
    .text #right-text{
        width: 45%;
        padding: 5px 0;
    }
    .bottompart{
        height: fit-content;
    }
    .bottompart h1{
        font-size: 4vw;
    }
    .page3 .left{
        justify-content: space-between;
    }
    .page3 .left #top .overarrow{
        height: 25%;
        width: 38%;
        top: 36%;
        left: 30%;
    }
    .page3 .left #bottom{
        height: 50%;
        width: 100%;
        padding-top: 1vw;
    }
    .page3 .left #bottom h3{
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        line-height: 20px;
    }
    .page3 .right{
        background-position: 40% 40%;
    }
    .page4{
        padding-top: 30px;
    }
    .page4 #image{
        height: 80%;
    }
    .page4 #belowtext{
        padding-bottom:20px ;
    }
    .page4 #belowtext h1{
        font-size: 3.9vw;
    }
    .page5{
        width: 100%;
        padding: 1.7vw 4vw;
    }
    .page5 .elem img{
        height: 95px;
        width: 95px;
        top: 14%;
        left: 25%;
    }
    .page5 .elem h4{
        font-size: 12px;
    }
    .page5 .elem .part2 h5{
        font-size: 1.4vw;
    }
    .page6{
        padding: 30px 6vw 30px 6vw; 
    }
    .page6 .right h1{
        font-size: 4.8vw;
    }
    .page6 .right h3{
        font-size: 1.8vw;
        width:100%;
    }
    .page7{
        flex-direction: column;
        padding: 0.7vw 6vw 15px 6vw;
    }
    .page7 .left{
        width: 100%;
        background-position: 50% 20%;
    }
    .page7 .right{
        width: 100%;
    }
    .page7 .right .topimage{
        order: 2;
        height: 100%;
        width: 100%;
    }
    .page7 .right .text{
        height: 35%;
    }
    .text-left h2{
        padding: 20px 0;
        font-size: 2.1vw;
    }
    .text-right p{
        padding: 20px 0;
        font-size: 11px;
        font-weight: 500;
    }
    .marque h1{
        font-size: 4vw;
    }
    .page8{
        height: 81vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .page8 h1{
        font-size: 5vw;
    }
    .page8 .blog1 , .page8 .blog2{
        height: 65%;
        width: 100%;
    }
    .page8 .blog1 #text{
        height: fit-content;
    }
    .page8 .blog1 #text h3 , .blog2 #text h3{
        font-size: 15px;
        padding-top: 20px;
        font-weight: 400;
    }
    .page8 .blog1 #text span , .blog2 #text span{
        padding: 0.2vw 0.9vw;
    }
    .page8 .blog1 #image ,.page8 .blog2 #image{
        height: 100%;
        width: 100%;
    }
    .footer{
        height: 46vh;
        display: flex;
        flex-direction: column;
        border: none;
        margin-top: 50px;
    }
    .footer .part1{
        height: fit-content;
        width: 100%;
        border-right: none;
        padding: 0 6vw 0 6vw;
        flex-direction: column;
        align-items: center;
    }
    .footer .part1 .brand h1{
        font-size:6.4vh;
    }
    .footer .part1 .brand h1::before{
        display: none;
    }
    .footer .part1 .brand h1::after{
        display: none;
    }
    .footer .part1 .text{
        height: fit-content;
        padding-top:1vw ;
        text-align: center;
    }
    .footer .part1 .text h2{
        font-size: 3vh;
        border-bottom: 2px solid black;
    }
    .footer .part2{
        width: 30%;
        height: fit-content;
        padding-top:1vw ;
        border-bottom: 2px solid black;
    }
    .footer .part2 h2{
        font-size: 3vh;
    }
    .footer .part3{
        width: 100%;
        border-left: none;
    }
    .footer .part3 .top{
        padding-left:0;
        text-align: center;
    }
    .footer .part3 .bottom{
        width: 80%;
    }
    .part3 .bottom .icon{
        justify-content: center;
    }
    .part3 .bottom .icon i{
        font-size: 3.2vw;
        margin: 20px 2vw 0vw 0vw;
    }
    .part3 .bottom .text{
        width: 100%;
        text-align: center;
        padding:30px 0 0 0 ;
    }
    .part3 .bottom .text h3{
        font-size: 2vw;
    }
}
  
  /* Medium Devices (landscape tablets and medium-sized desktops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav{
        padding-right: 40px;
        padding-left: 30px;
    }
    .nav h1{
        font-size:4.4vh;
    }
    .nav h1::before{
        display: none;
    }
    .nav h1::after{
        display: none;
    }
    .nav h2{
        display: none;
    } 
    .nav #formobile{
        display: block;
        font-size: 24px;
    }
    #overtext{
        height: 30%;
    } 
    .scrollbar{
        height:24vh;
    }
    .scrollbar .container{
        width: 1374px;
        animation-name: anime;
    }
    .container img{
        height: 150px;
        width: 150px;
        margin: 10px 9px;
    }
    .alphabets h5{
        font-size: 2vw;
    }
    .alphabets h6{
        font-size: 1.5vw;
        padding: 0.7vw 0.7vw;
    }
    .page2 .part2 .text{
        padding: 30px  0vw  0vw  0vw;
    } 
     .text #left-text h3{
        font-size: 2.2vw;
    }
    .text  #right-text p{
        font-size: 1.4vw;
    } 
    .page5 .elem img{
        height: 105px;
        width: 105px;
    }
    .page5 .elem h4{
        font-size: 1.5vw;
    }
    .page5 .elem .part2 h5{
        font-size: 1.2vw;
    }
    .text-left h2{
        font-size: 2.2vw;
    }
    .text-right p{
        font-weight: 500;
        font-size: 1.3vw;
    }
    .marque h1{
        font-size: 3.5vw;
    }
    .page8{
        height: 89vh;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .page8 h1{
        font-size: 30px;
    }
    .page8 .blog1{
        padding:10px 0 0 100px;
        height: 100%;
        width: 100%;
    }
    .page8 .blog1 #text{
        height: auto;
    }
    .page8 .blog1 #text h3 , .blog2 #text h3{
        font-size: 16px;
    }
    .page8 .blog1 #text span , .blog2 #text span{
        padding: 5px 60x;
    }
    .page8 .blog1 #image{
        height: 100%;
        width: 100%;
    }
    .page8 .blog2{
        padding:10px 0 0 100px;
        height: 100%;
        width: 100%;
    }
    .page8 .blog2 #text{
        height: auto;
        width: 100%;
    }
    .page8 .blog2 #image{
        height: 100%;
        width: 100%;
    }
    .footer .part1{
        width: 20%;
        padding: 0vw 0vw 0vw 6vw;
        flex-direction: column;
    }
    .footer .part1 .brand{
        height: 25%;
    }
    .footer .part1 .brand h1{
        font-size:5vh;
        padding-top: 1vw;
    }
    .footer .part1 .brand h1::before{
    display: none;
    }
    .footer .part1 .brand h1::after{
    display: none;
    }
    .footer .part1 .text{
        height: 100%;
        width: 100%;
        text-align: end;
        padding: 30px 20px 0 0;
    }
    .footer .part1 .text h2{
        font-size: 20px;
    }
    .footer .part2{
        width: 18%;
        padding-top:95px ;
    }
    .footer .part2 h2{
        font-size: 20px;
    }
    .footer .part3{
        height: 100%;
        width: 61%;
    }
    .footer .part3 .top{
        padding: 95px 0 20px 3vw;
    }
    .footer .part3 .top h2{
        font-size: 20px;
    }
    .part3 .bottom .icon i{
        font-size: 20px;
    }
    .part3 .bottom .text h3{
        font-size: 12px;
    }
}
  
  /* Large Devices (large desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav h1::before{
        display: none;
    }
    .nav h1::after{
        right: 20%;
        font-size: 8.4px;
    }
    .nav h2{
        font-size: 1.7vh;
    } 
    .nav h2 i{
        font-size: 18px;
    }
    .nav #formobile{
        display: none;
    }
    #overtext{
        height: 40%;
    }
    .scrollbar .container{
        width: 1615px;
    }
    .container img{
        height:180px;
        width: 180px;
        margin: 12px 9px;
    }
    .alphabets h5{
        font-size: 1.9vw;
    }
    .alphabets h6{
        font-size: 1vw;
    }
    .text  #right-text p{
        font-size: 1.2vw;
    } 
    .page5 .elem img{
        height: 111px;
        width: 111px
    }
    .page5 .elem h4{
        font-size: 14px;
    }
    .page5 .elem .part2 h5{
        font-size: 10px;
    }
    .page7{
        padding: 20px 6vw 20px 6vw;
    }
    .page7 .right .text{
        height: 36%;
    }
    .text-left h2{
        font-size: 20px;
    }
    .text-right p{
        font-size: 11px;
        font-weight: 500;
    }
    .page8 h1{
        font-size: 36px;
    }
    .page8 .blog1{
        padding-top:1.5vh;
        height: 68%;
        width: 40%;
    }
    .page8 .blog1 #image{
        height: 58%;
    }
    .page8 .blog2{
        padding-top: 1.5vh;
        height: 68%;
        width: 40%;
    }
    .page8 .blog2 #image{
        height: 58%;
    }
    .footer .part1{
        width: 34%;
        padding: 0vw 4vw 0vw 3vw;
    }
    .footer .part1 .brand h1{
        font-size:6.7vh;
    }
    .footer .part1 .brand h1::before{
        display: none;
    }
    .footer .part1 .brand h1::after{
        right: 11%;
        font-size: 10px;
    }
    .footer .part1 .text h2{
        font-size: 23px;
    }
    .footer .part2 h2{
        font-size: 22px;
    }
    .footer .part3{
        width: 50%;
    }
    .footer .part3 .top h2{
        font-size: 22px;
    }
    .part3 .bottom .icon i{
        font-size: 18px;
    }
    .part3 .bottom .text h3{
        font-size: 12px;
    }
}
  
  /* Extra Large Devices (extra-large desktops and high-resolution displays) */
@media only screen and (min-width: 1200px) {
    .nav h1::before{
        left: 75%;
        font-size: 1.1vw;
    }
    #overtext{
        height: 45%;
    } 
    .scrollbar{
        height: 208px;
    }
    .scrollbar .container{
        width: 1615px;
        animation-duration: 15s;
    }
    .container img{
        height:180px;
        width: 180px;
        margin: 12px 9px;
    }
    .page5 .elem img{
        height: 111px;
        width: 111px;
    }
}